.container{
    background-color: antiquewhite;
  
    flex-direction:row;
    height:400px;
    width:800px;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    gap:30px;
}
.box{
    height:100px;
    width:100px;
    margin:10px;
}
.first{
    background-color: orange;
    flex-grow: 2;
    flex-basis: 20px;
}
.second{
    background-color: orangered;
    flex-basis: 300px;;
}
.third{
    background-color: aqua;
    align-self: flex-start;
}
.fourth{
    background-color: blueviolet;
    align-self: flex-end;
}