h3{
    background-color: rgb(89, 246, 246);
}
#first{
    background-color: rgb(223, 53, 161);
}
.a{
    background-color: rgb(240, 240, 47);
}
h1,.a,#first{
    background-color: crimson;
}
h1{
    font-size: 100px;
}
ol{
    font-size: 20px;
}
ul{
    font-size: 30px;
}

li{
    font-size: 1em; 
}
html{
    font-size: 20px;
}
h3{
    font-size: 1rem;
}